<h1 align="center">Book</h1>
<p align="center">Title of book : {{book.title}}</p>
<p align="center">Publication date : {{book.publicationDate|date('M d, Y')}}</p>
<p align="center">Author : {{book.author.username}}</p>
